<div class="container">
  <div class="row ">
    <div class="col-md-12">
      <h2 style="border-bottom: 2px solid gray;">
        Inventario de Bienes - Inmuebles
        <span style="float:right;">
          <%= link_to "Visualizaciones", mec_custom_url(data_visualizaciones_url), :title => "Ir a Visualizaciones", :style => "font-size:12px;" unless params[:embedded]%>
          <%= link_to image_tag("noticias.png", :style => "width:24px;"), mec_custom_url(data_visualizaciones_url), :title => "Ir a Visualizaciones" unless params[:embedded]%>
          <%= link_to "Inicio", mec_custom_url(index_url), :title => "Ir al inicio", :style => "font-size:12px;" unless params[:embedded]%>
          <%= link_to image_tag("home.png", :style => "width:24px;"), mec_custom_url(index_url), :title => "Ir al inicio" unless params[:embedded]%>
        </span>
      </h2> 
      <div style="clear:both;"></div> 
      <div class="map-container">
      <p>Esta visualización fue desarrollada por <a href="http://opendata.pol.una.py/?p=191" target="_blank">alumnos de Ingeniería Informática de la Facultad Politécnica de la Universidad Nacional de Asunción</a>.</p>

      <script src="https://public.tableausoftware.com/javascripts/api/viz_v1.js" type="text/javascript"></script>
      <h4 style="border-bottom:2px solid gray;">Inmuebles por superficie.</h4>

      <div class="tableauPlaceholder" style="width: 100%; height: 458px;"><noscript><a href='#'><img alt='Sheet 1 ' src='https://public.tableausoftware.com/static/images/In/InmueblesPorTamao/Sheet1/1_rss.png' style='border: none' /></a></noscript><object class="tableauViz" style="display: none;" width="100%" height="458"><param name="host_url" value="https%3A%2F%2Fpublic.tableausoftware.com%2F" /><param name="site_root" value="" /><param name="name" value="InmueblesPorTamao/Sheet1" /><param name="tabs" value="no" /><param name="toolbar" value="yes" /><param name="static_image" value="https://public.tableausoftware.com/static/images/In/InmueblesPorTamao/Sheet1/1.png" /><param name="animate_transition" value="yes" /><param name="display_static_image" value="yes" /><param name="display_spinner" value="yes" /><param name="display_overlay" value="yes" /><param name="display_count" value="yes" /></object></div>

      <h4 style="border-bottom:2px solid gray;">Inmuebles por departamento.</h4>
      <iframe width="100%" height="150" src="http://bl.ocks.org/sgip/raw/1844cfeca7e02d2cd9d7" style="min-height: 1200px;border:none;"></iframe>


    </div>
  
  </div><!--/row-->

</div><!--/.container-->
