<div class="container">
  <div class="row ">
    <div class="col-md-12">
      <h2 style="border-bottom: 2px solid gray;">
        Funcionarios Docentes
      </h2> 
      <div style="clear:both;"></div> 
      <div class="map-container">
      <p>Esta visualización fue desarrollada por <a href="http://opendata.pol.una.py/?p=75" target="_blank">alumnos de Ingeniería Informática de la Facultad Politécnica de la Universidad Nacional de Asunción</a>.</p>
       <script id="infogram_0_objeto_gas-038698" src="//e.infogr.am/js/embed.js" type="text/javascript"></script><div style="width:100%;border-top:1px solid #acacac;padding-top:3px;font-family:Arial;font-size:10px;text-align:center;"><a style="color:#acacac;text-decoration:none;" href="//infogr.am" target="_blank">Create Infographics</a></div>
        
        <p style="text-align: left;"><strong>Autores: </strong></p>
       <ul>
        <li>Pablo López</li>
        <li>Julio Reyes</li>
        <li>Rodrigo Valdez</li>
        <li>Diego Ramírez</li>
      </ul>

      </div><!--/span-->
    
    </div>
  
  </div><!--/row-->

</div><!--/.container-->
