<div class="container" style="width:100%;">
  <div class="row ">
    <div class="col-md-12">
      <h2 style="border-bottom: 2px solid gray;">
        Inventario de Bienes - Muebles
      </h2> 
      <div style="clear:both;"></div> 
      <div class="map-container">
      <p>Esta visualización fue desarrollada por <a href="http://opendata.pol.una.py/?p=114" target="_blank">alumnos de Ingeniería Informática de la Facultad Politécnica de la Universidad Nacional de Asunción</a>.</p>
      <iframe width="100%" src="http://opendata.pol.una.py/OpenDataGui/Graficos.seam" style="min-height: 2500px;border:none;"></iframe>
      <p style="text-align: left;"><strong>Autores: </strong></p>
      <ul>
        <li>Marco Aponte</li>
        <li>Diego Denis</li>
        <li>Martín Poletti</li>
        <li>Julio Quintana</li>
        <li>José Salinas</li>
        <li>Manuel Salinas</li>
      </ul>
    </div>
  
  </div><!--/row-->

</div><!--/.container-->
