<div class="container">
  <div class="row ">
    <div class="col-md-12">
      <h2 style="border-bottom: 2px solid gray;">
        Visualización de Estadísticas de la educación
      </h2> 
      <div style="clear:both;"></div> 
      <div class="map-container">

        <div class="field field-name-body field-type-text-with-summary field-label-above">
          <div class="field-items">
            <div class="field-item even" property="content:encoded">
              <p>
                Esta visualización fue desarrollada por <a href="http://datos.org.py/" target="_blank">datos.org.py</a> basada parcialmente en los datos abiertos del Ministerio de Educación y Cultura.
              </p>
              <div class="wrap1" style=" width:auto; height: 600px; padding: 0;overflow: hidden;">
                <iframe frameborder="0" id="frame" scrolling="no" src="http://visualizaciones.datos.org.py/educacion-en-numeros/" style="  -ms-zoom: 0.5;-ms-transform-origin: 0 0;-moz-transform: scale(0.5);-moz-transform-origin: 0px 50px;-o-transform: scale(0.5);-o-transform-origin: 0px 50px;-webkit-transform: scale(0.5);-webkit-transform-origin: 0 0;width: 2200px;height: 1200px;overflow: hidden;"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  
