
<script type="text/javascript">

  $(document).ready(function () {
      mostrar_mapa('#{parametros}');
      $("#link-to-ubicaciones-geograficas").bind("click", function () {

          var tr_size = $.trim($("#establecimientos-ubicaciones-geograficas").html()).length

          $('.establecimientos-ubicaciones-geograficas').remove();

          if (tr_size == 0) {

              $(this).parent().parent().after("<tr id=\"establecimientos-ubicaciones-geograficas\" class=\"establecimientos-ubicaciones-geograficas\"></tr>");

              $("#establecimientos-ubicaciones-geograficas").html("<%= escape_javascript("<tr><td colspan='10' style='text-align:center;'><p class='none-result'>#{image_tag('ajax-loader0.gif')}</p>").html_safe %></td></tr>")

              $.ajax({
                  type: 'POST',
                  url: "<%= url_for(data_establecimientos_ubicaciones_geograficas_path) %>",
                  data: {parametros:<%= parametros %>},
                  dataType: 'script'
              });

          } else {
              $("#establecimientos-ubicaciones-geograficas").remove();
          }

          return false;
      });

  })
</script>