<%= javascript_include_tag "diccionario/contrataciones.js" %>
<%= link_to ('<span class="pull-right btn-lg hidden-xs"><i class="icon-py-datos"></i> Ver Datos</span>').html_safe, mec_custom_url(data_contrataciones_url), :title => "Ir al Conjunto de Datos" %>
<%= link_to ('<span class="pull-right btn-lg hidden-xs"><i class="icon-py-datos"></i> Ver Datos</span>').html_safe, mec_custom_url(data_contrataciones_url), :title => "Ir al Conjunto de Datos" %>
<h1>Contrataciones</h1>
<br>

<ul class="listado">

  <li class="row hidden-xs titulos">
    <div class="celda col-sm-3">Nombre</div>
    <div class="celda col-sm-4">Descripción</div>
    <div class="celda col-sm-1">Tipo</div>
    <div class="celda col-sm-2">Restricciones</div>
    <div class="celda col-sm-1">Referencia</div>
    <div class="celda col-sm-1">Ejemplo</div>
  </li>

  <div id="diccionario"></div>

</ul>

<script>
  contenido = "";
  diccionario=contenido_diccionario('<%= link_to "Ver ejemplo", mec_custom_url(def_ejemplo_anio_cod_geo_path).html_safe, target:"_blank" %>');
  $.each(diccionario, function(idx, definicion) {
    contenido += '<li class="row">' +
            '<label class="col-xs-12 visible-xs"> Nombre </label>' +
            '<div class="celda col-sm-3">' +
            definicion.nombre +
            '</div>' +
            '<label class="col-xs-12 visible-xs"> Descripción </label>' +
            '<div class="celda col-sm-4">' +
            definicion.descripcion +
            '</div>' +
            '<label class="col-xs-12 visible-xs"> Tipo </label>' +
            '<div class="celda col-sm-1">' +
            definicion.tipo +
            '</div>' +
            '<label class="col-xs-12 visible-xs"> Restricciones </label>' +
            '<div class="celda col-sm-2">' +
            definicion.restricciones +
            '</div>' +
            '<label class="col-xs-12 visible-xs"> Referencia </label>' +
            '<div class="celda col-sm-1 napa">';
    if (definicion.referencia.enlace !== '') {
      contenido += '<a href="' + definicion.referencia.enlace + '">' + definicion.referencia.texto + '</a>';
    }
    contenido += '</div>' +
            '<label class="col-xs-12 visible-xs"> Ejemplo </label>' +
            '<div class="celda col-sm-1">' +
            definicion.ejemplo +
            '</div>' +
            '</li>';
  });
  $("#diccionario").html(contenido);
</script>

<div class="row">
  <h2>
    Referencia
  </h2>La siguiente tabla presenta una breve descripción de los atributos incluídos en el diccionario de datos del dataset.<br>
  Básicamente, un diccionario de datos describe los atributos que contiene un dataset, incluyendo el tipo de dato y las restricciones se apliquen a cada uno.<br>
  <br>
  <br>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th title="Field #1">
          Nombre de la columna
        </th>
        <th title="Field #2">
          Descripción
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          Nombre del Atributo
        </td>
        <td>
          Esteblace el nombre del atributo exactamente como se encuentra definido en el archivo de datos a ser publicado
        </td>
      </tr>
      <tr>
        <td>
          Descripción
        </td>
        <td>
          Describe con más detalles los datos que se encuentran en el atributo
        </td>
      </tr>
      <tr>
        <td>
          Tipo de datos
        </td>
        <td>
          El tipo de dato esperado de los valores del attributo. Por ejemplo: String, Integer, Float, …. Idealmente se deben utilizar los tipos de datos definidos en el Estándar XML Schema Datatypes de la W3C. <a href="http://www.w3.org/TR/xmlschema-2/#built-in-primitive-datatypes">http://www.w3.org/TR/xmlschema-2/#built-in-primitive-datatypes</a>, por ejemplo: xsd:string, xsd:boolean, xsd:dateTime
        </td>
      </tr>
      <tr>
        <td>
          Restricciones
        </td>
        <td>
          En caso que existan, se especifican las restricciones de los datos
        </td>
      </tr>
      <tr>
        <td>
          Referencia
        </td>
        <td>
          En caso que exista, se agrega un link a un documento de referencia para los datos. Por ejemplo, si los datos están definidos utilizando un estándar o formato diferente a XSD, referenciarlo, como ser la Latitud y Longitud en formato de Google maps
        </td>
      </tr>
      <tr>
        <td>
          Ejemplo
        </td>
        <td>
          Los valores de ejemplo
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
