<div>
  <%= link_to ('<i class="icon-py-datos"></i> Ver Datos').html_safe, mec_custom_url(data_rendiciones_url), :id => "tab-datos", :class => "pull-right btn-lg hidden-xs", :title => "Ir al Conjunto de Datos" %>
  <div class="pull-right btn-lg hidden-xs" id="start-tour"><a title="Ir a la ayuda"><i class="icon-py-ayuda"></i> Ayuda</a></div>
  <h1 id="tab-titulo">RENDICIONES DE CUENTAS EN BASE A LA LEY DE GRATUIDAD </h1>
</div>
<br>
<%=  render :partial => "helpers/diccionario", :locals => { :diccionario => @diccionario_rendiciones, :nombre => "RENDICIONES DE CUENTAS EN BASE A LA LEY DE GRATUIDAD".html_safe } %>
