<div>
  <%= link_to ('<i class="icon-py-datos"></i> Ver Datos').html_safe, mec_custom_url(data_matriculaciones_educacion_permanente_url), :id => "tab-datos", :class => "pull-right btn-lg hidden-xs", :title => "Ir al Conjunto de Datos" %>
  <div class="pull-right btn-lg hidden-xs" id="start-tour"><a title="Ir a la ayuda"><i class="icon-py-ayuda"></i> Ayuda</a></div>
  <h1 id="tab-titulo">Matriculaciones Educaci&oacute;n Permanente</h1>
</div>
<br>
<%=  render :partial => "helpers/diccionario", :locals => { :diccionario => @diccionario_matriculaciones_educacion_permanente, :nombre => "Matriculaciones Educaci&oacute;n Permanente".html_safe } %>