Instituciones del Establecimiento Educativo
<table class="table table-striped table-bordered table-hover">

  <tr>

    <th>C&oacute;digo de Institucion</th>
    <th>Nombre de la Instituci&oacute;n</th>
    <th style="text-align:right;">Cantidad de Matriculados</th>

  </tr>

  <% instituciones.each do |i| %>

    <tr>

      <td><%= link_to i.codigo_institucion, mec_custom_url(data_instituciones_path(:ci => i.codigo_institucion)), :target => "_blank", :title => 'ir al dataset de instituciones.' %></td>
      <td><%= link_to i.nombre_institucion, mec_custom_url(data_instituciones_path(:ci => i.codigo_institucion)), :target => "_blank", :title => 'ir al dataset de instituciones.' %></td>
      <td style="text-align:right;"><%= cantidad_total_matriculados(i.codigo_institucion.to_s.gsub('.','').to_i, i.codigo_establecimiento) %></td>
    </tr>

  <% end %>

</table>
