<h1 class="page-heading">Acerca de</h1>
          
<!-- Snippet home/snippets/about_text.html start -->
<h2>¿De qué se trata <a href="http://datos.mec.gov.py/">datos.mec.gov.py</a> ?</h2>
<p>Los Datos Abiertos pueden ser libremente usados, re-usados y redistribuidos por cualquiera, sujeto solamente, a lo sumo, a requisitos de atribución y redistribución con la misma licencia.
</p>
<p>Los Datos Abiertos Gubernamentales son un medio fundamental para fomentar la transparencia, facilitando a los ciudadanos el acceso a la información de la gestión del Gobierno. Los ciudadanos pueden así empoderarse de los procesos de decisión, ayudando al gobierno en la toma de mejores decisiones y colaborando en la propuesta de soluciones.</p>

<h2>¿Cómo puedo usar los datos?</h2>
<p>Con los Datos Abiertos se pueden crear visualizaciones innovativas para comprender mejor datos complejos, fomentando la creación de nuevos conocimientos. También puede ser la base de oportunidades de negocios convirtiéndose en un importante motor económico.</p>


<h2>¿Quiénes están involucrados en el proyecto?</h2>
<p><a href="http://datos.mec.gov.py/">Datos.mec.gov.py</a> está desarrollado por el Ministerio de Educación y Cultura (MEC), con el apoyo del Programa Democracia y Gobernabilidad (PDG), con fondos de USAID, y ejecutado por CEAMSO.
</p>

<h2>¿Quién es parte del equipo técnico?</h2>
<p>
El código fuente de este portal de datos abiertos se encuentra disponible en Github <a href="https://github.com/mecpy/mec-opendata">aquí</a>.
</p>
<p>
Las personas trabajando en el portal son: Marcos Rotela (MEC), Juan Barrios (MEC), Jacquelinne Battilana (MEC), Edgar González (MEC), Juan Pane (PDG), Rodrigo Parra (PDG).
</p>

<p>
En caso de necesidad, puedes contactar al administrador del sistema enviando un correo electrónico a:  <a href="mailto:datosabiertos@mec.gov.py">datosabiertos@mec.gov.py</a>
</p>
<!-- Snippet home/snippets/about_text.html end -->
