<br />
<table class="table table-striped table-bordered table-hover">
  <tr>
    <th>CODIGO DEPARTAMENTO</th>  
    <th>NOMBRE_ DEPARTAMENTO</th> 
    <th>CODIGO_DISTRITO</th>  
    <th>NOMBRE_DISTRITO</th>  
    <th>ANHO_COD_GEO</th>
  </tr>
  <tr>
    <td>01</td>
    <td>Concepción</td>
    <td>08</td>
    <td>Vallemi</td>
    <td>2002</td>
  </tr>
  <tr>
    <td>01</td>
    <td>Concepción</td>
    <td>08</td>
    <td>Azotey</td>
    <td>2012</td>
  </tr>
</table>     

