<%= javascript_include_tag "/assets/views/index_view.js?body=1" %>
<div class="galeria">

  <div class="row">
    <div class="col-sm-8">

      <div id="portada" class="vista-principal cambio-automatico">
      </div>

      <div id="informacion" class="carousel-caption">
      </div>

      <div id="cargando" class="cargando hidden">
        <i class="fa fa-4x fa-spin fa-circle-o-notch"></i>
      </div>

    </div>

    <nav id="paginador" class="col-sm-12 visible-xs">
      <ul class="pager">
        <li id="anterior" class="previous">
          <a href="#" onclick="anterior(this);"><span aria-hidden="true">&larr;</span> Anterior</a>
        </li>
        <li id="siguiente" class="next">
          <a href="#" onclick="siguiente(this);">Siguiente <span aria-hidden="true">&rarr;</span></a>
        </li>
      </ul>
    </nav>

    <div class="col-sm-4 hidden-xs">
      <div 
        class="vista-previa col-sm-5 col-sm-offset-1 enlace" 
        style="background-image:url('/assets/thumbnails/ejemplo1.png')"
        data-titulo='Ejemplo 1'
        data-descripcion='Este es un ejemplo de la galería'
        data-imagen='/assets/destacados/ejemplo1.png'
        data-enlace="http://datos.mec.gov.py/"
        onclick="seleccionar(this);">
      </div>
      
      <div 
        class="vista-previa col-sm-5 col-sm-offset-1 enlace" 
        style="background-image:url('/assets/thumbnails/ejemplo2.png')"
        data-titulo='Ejemplo 2'
        data-descripcion='Este es un ejemplo de la galería'
        data-imagen='/assets/destacados/ejemplo2.png'
        data-enlace="http://datos.mec.gov.py/"
        onclick="seleccionar(this);">
      </div>
      
      <div 
        class="vista-previa col-sm-5 col-sm-offset-1 enlace" 
        style="background-image:url('/assets/thumbnails/ejemplo3.png')"
        data-titulo='Ejemplo 3'
        data-descripcion='Este es un ejemplo de la galería'
        data-imagen='/assets/destacados/ejemplo3.png'
        data-enlace="http://datos.mec.gov.py/"
        onclick="seleccionar(this);">
      </div>
      
      <div 
        class="vista-previa col-sm-5 col-sm-offset-1 enlace" 
        style="background-image:url('/assets/thumbnails/ejemplo4.png')"
        data-titulo='Ejemplo 4'
        data-descripcion='Este es un ejemplo de la galería'
        data-imagen='/assets/destacados/ejemplo4.png'
        data-enlace="http://datos.mec.gov.py/"
        onclick="seleccionar(this);">
      </div>
      
      <div 
        class="vista-previa col-sm-5 col-sm-offset-1 enlace" 
        style="background-image:url('/assets/thumbnails/ejemplo5.png')"
        data-titulo='Ejemplo 5'
        data-descripcion='Este es un ejemplo de la galería'
        data-imagen='/assets/destacados/ejemplo5.png'
        data-enlace="http://datos.mec.gov.py/"
        onclick="seleccionar(this);">
      </div>
      
      <div 
        class="vista-previa col-sm-5 col-sm-offset-1 enlace" 
        style="background-image:url('/assets/thumbnails/ejemplo-falso.png')"
        data-titulo='Ejemplo 6'
        data-descripcion='Este es un ejemplo sin imagen'
        data-imagen='/assets/destacados/ejemplo-falso.png'
        data-enlace="http://datos.mec.gov.py/"
        onclick="seleccionar(this);">
      </div>

    </div>

  </div>

</div>