<h1 class="page-heading">Aviso Legal</h1>
          
<h2>Términos y Condiciones</h2>
<p>El MEC no se responsabiliza de las decisiones tomadas a partir de la información difundida en el Portal de Datos Abiertos ni de los posibles daños y perjuicios producidos al usuario visitante o a terceros con motivo de actuaciones que tengan como único fundamento la información obtenida en el sitio. El MEC podrá efectuar, en cualquier momento y sin necesidad de previo aviso, modificaciones y actualizaciones sobre la información contenida en el Portal de Datos Abiertos o en su configuración o presentación.</p>

<p>La reutilización de los datos difundidos en el Portal de Datos Abiertos se realizará por parte de los usuarios bajo su propia cuenta y riesgo, correspondiéndoles en exclusiva a ellos responder frente a terceros por daños que pudieran derivarse de ello. El MEC no será responsable del uso o reuso que hagan de la información ni tampoco de los daños sufridos o pérdidas económicas que, de forma directa o indirecta, produzcan o puedan producir perjuicios económicos, materiales o sobre datos, provocados por el uso de la información reutilizada.</p>

<p>En el Portal de Datos Abiertos se han incluido enlaces a páginas de sitios Web de terceros (“links”), que se han considerado de interés para los usuarios visitantes; sin embargo cuando nuestras páginas contengan enlaces a páginas externas a el MEC, ya sea a otras entidades gubernamentales, comerciales o privadas, y el usuario o "visitante" seleccione uno de éstos el MEC no asume ninguna responsabilidad derivada de la conexión o contenidos de los enlaces de terceros a los que se hace referencia en el Portal de Datos Abiertos, por lo que el visitante estará sujeto a las normas y condiciones de la página externa.</p>

<p>Los derechos de propiedad intelectual del Portal de Datos Abiertos (<a href="http://datos.mec.gov.py/">datos.mec.gov.py</a>), de su diseño gráfico y los códigos que contiene, son titularidad del Ministerio de Educación y Cultura, a no ser que se indique una titularidad diferente.</p>

<h2>Política de Privacidad</h2>
<p>El acceso a y/o uso del Portal de Datos Abiertos implica que todos los visitantes al mismo se adhieren a los Términos y Condiciones, aceptándolos, desde ese momento, plenamente y sin reserva alguna, así como en su caso, las Condiciones Particulares que en el futuro puedan complementarlas, sustituirlas o modificarlas en algún sentido en relación con los servicios y contenidos del Portal de Datos Abiertos.</p>

<p>Por el solo hecho de ingresar y hacer uso de este Portal (<a href="http://datos.mec.gov.py/">datos.mec.gov.py</a>), usted (el "Usuario Visitante") se adhiere en forma inmediata a todos y cada uno de los siguientes Términos y Condiciones. En consecuencia, el Usuario Visitante deberá leer detenidamente los Términos y Condiciones así como las Condiciones Particulares, que pudieran dictarse, antes de acceder y/o utilizar cualquier servicio del Portal de Datos Abiertos bajo su entera responsabilidad. Es responsabilidad del usuario mantenerse informado acerca de la Política de Privacidad vigente cada vez que hace uso del Portal de Datos Abiertos.</p>

<p>A través de esta Política de Privacidad, el Ministerio de Educación y Cultura no está suscribiendo un compromiso contractual con sus visitantes, sino que ésta se entrega sólo con fines informativos.</p>


<h2>Derecho a la Intimidad</h2>
<p>El Ministerio de Educación y Cultura no recopilará información personal de los usuarios visitantes. Sin embargo, el Ministerio de Educación y Cultura se reserva el derecho de recopilar cualquier información necesaria para que en caso de sospecha de alguna conducta ilegal en el uso de la información de la página del MEC en la Internet se cuente con ella.</p>

<p>Para conservar la disponibilidad de los servicios que prestamos, el MEC supervisará el uso de la red de interconexión, de manera a detectar aquellas situaciones donde se intente modificar el contenido de las páginas o se trate de dañar la propiedad utilizada para estos propósitos. Así también el MEC se reserva el derecho de utilizar cookies para facilitar la navegación.</p>

<p>Además, el Ministerio de Educación y Cultura podrá generar estadísticas y recopilar información relevante a las "visitas" a nuestras páginas en cuanto a:</p>

<ul>
	<li>El dominio de la Internet y número de IP de su conexión o acceso; </li>
	<li>El tipo de navegador y el sistema operativo (Tipo, Versión e idioma, etc.) que se utilizó para ver las páginas; </li>
	<li>La fecha y hora de la visita;</li>
	<li>Las páginas que se visitaron; y </li>
	<li>La página externa que originó la visita</li>
	<li>Ubicación Geografica de los usuarios,</li>
	<li>Resolucion de la Pantalla, Version de Flash</li>
	<li>Tipo de dispositivo</li>
</ul>

<p>Cuando la información se relacione con una confidencia o querella, la misma se considerará y se mantendrá en confidencialidad.</p>