<h1 class="page-heading">Aviso Legal</h1>

<h2>Términos y Condiciones</h2>
<p>Este aviso legal recoge las condiciones generales que rigen el acceso y el uso del presente sitio web, del que es titular el Ministerio de Educación y Cultura (MEC);  el uso del sitio web implica la expresa y plena aceptación de las presentes condiciones generales en la versión publicada en el momento en que el usuario acceda al mismo, sin perjuicio de las condiciones particulares que pudieran aplicarse a algunos de los contenidos o servicios concretos del sitio web.</p>

<p>El MEC no se responsabiliza de las decisiones tomadas a partir de la información difundida en el sitio WEB ni de los posibles daños y perjuicios producidos al usuario visitante o a terceros con motivo de actuaciones que tengan como único fundamento la información obtenida en el sitio. El MEC podrá efectuar, en cualquier momento y sin necesidad de previo aviso, modificaciones y actualizaciones sobre la información contenida en el sitio o en su configuración o presentación. Asimismo, se reserva el derecho a modificar en cualquier momento las presentes condiciones de uso así como cualesquiera otras condiciones particulares.</p>

<p>Los derechos de propiedad intelectual de los datos publicados bajo estándares de "Datos Abiertos" por el Ministerio de Educación y Cultura (datos.mec.gov.py), de su diseño gráfico y los códigos que contiene, son titularidad de MEC, a no ser que se indique una titularidad diferente.</p>

<h2>Autorización de reutilización y cesión no exclusiva de derechos de propiedad intelectual.</h2>
<p>A través de la Resolución Ministerial Nº 10.868, se dispone la apertura de datos públicos del Ministerio de Educación y Cultura  bajo el uso de la licencia CC-BY 4.0.
  Las presentes condiciones generales permiten la reutilización de los documentos sometidos a ellas para fines comerciales y no comerciales, que incluye, a modo ilustrativo, actividades como la copia, difusión, modificación, adaptación, extracción, reordenación y combinación de la información.</p>
<p>Esta autorización conlleva, asimismo, la cesión gratuita y no exclusiva de los derechos de propiedad intelectual, en su caso, correspondientes a tales documentos, autorizándose la realización de actividades de reproducción, distribución, comunicación pública o transformación, necesarias para desarrollar la actividad de reutilización autorizada, en cualquier modalidad y bajo cualquier formato, para todo el mundo y por el plazo máximo permitido por la Ley.</p>

<h2>Condiciones generales para la reutilización.</h2>
<p>La reutilización de los datos difundidos por el MEC se realizará por parte de los usuarios bajo su propia cuenta y riesgo, correspondiéndoles en exclusiva a ellos responder frente a terceros por daños que pudieran derivarse de ello. El MEC no será responsable del uso o reuso que hagan de la información ni tampoco de los daños sufridos o pérdidas económicas que, de forma directa o indirecta, produzcan o puedan producir perjuicios económicos, materiales o sobre datos, provocados por el uso de la información reutilizada.</p>

<p>Son de aplicación las siguientes condiciones generales para la reutilización de los documentos sometidos a ellas:</p>

<ol>
  <li>Está prohibido desnaturalizar el sentido de la información.</li>
  <li>Debe citarse la fuente de los documentos objeto de la reutilización. Esta cita podrá realizarse de la siguiente manera: <em>“Origen de los datos: Ministerio de Educacion y Cultura."</em></li>
  <li>Debe mencionarse la fecha de la última actualización de los documentos objeto de la reutilización, siempre cuando estuviera incluida en el documento original.</li>
  <li>No se podrá indicar, insinuar o sugerir que el MEC titular de la información reutilizada participa, patrocina o apoya la reutilización que se lleve a cabo con ella.</li>
  <li>Deben conservarse, no alterarse ni suprimirse los metadatos sobre la fecha de actualización y las condiciones de reutilización aplicables incluidos, en su caso, en el documento puesto a disposición para su reutilización.</li>
</ol>

<h2>Exclusión de responsabilidad.</h2>
<p>La utilización de los conjuntos de datos se realizará por parte de los usuarios bajo su propia cuenta y riesgo, correspondiéndoles en exclusiva a ellos responder frente a terceros por daños que pudieran derivarse de ella.</p>

<p>El MEC no será responsable del uso que de su información hagan los agentes reutilizadores ni tampoco de los daños sufridos o pérdidas económicas que, de forma directa o indirecta, produzcan o puedan producir perjuicios económicos, materiales o sobre datos, provocados por el uso de la información reutilizada.</p>

<p>El MEC no garantiza la continuidad en la puesta a disposición de los documentos reutilizables, ni en contenido ni en forma, ni asume responsabilidades por cualquier error u omisión contenido en ellos.</p>

<h2>Política de Privacidad</h2>
<p>El acceso a y/o uso de los datos publicados por el MEC en <a href="http://datos.mec.gov.py/">datos.mec.gov.py</a> implica que todos los visitantes al mismo se adhieren a los Términos y Condiciones, aceptándolos, desde ese momento, plenamente y sin reserva alguna, así como en su caso, las Condiciones Particulares que en el futuro puedan complementarlas, sustituirlas o modificarlas en algún sentido en relación con los servicios y contenidos del mismo.</p>

<p>Por el solo hecho de ingresar y hacer uso de este Portal (<a href="http://datos.mec.gov.py/">datos.mec.gov.py</a>), usted (el "Usuario Visitante") se adhiere en forma inmediata a todos y cada uno de los siguientes Términos y Condiciones. En consecuencia, el Usuario Visitante deberá leer detenidamente los Términos y Condiciones así como las Condiciones Particulares, que pudieran dictarse, antes de acceder y/o utilizar cualquier servicio del sitio bajo su entera responsabilidad. Es responsabilidad del usuario mantenerse informado acerca de la Política de Privacidad vigente cada vez que hace uso del portal.</p>

<p>A través de esta Política de Privacidad, el MEC no está suscribiendo un compromiso contractual con sus visitantes, sino que ésta se entrega sólo con fines informativos.</p>


<h2>Derecho a la Intimidad</h2>
<p>El MEC no recopilará información personal de los usuarios visitantes, sin embargo, el MEC se reserva el derecho de recopilar cualquier información necesaria para que en caso de sospecha de alguna conducta ilegal en el uso de la información de la página del MEC en la Internet se cuente con ella.</p>

<p>Para conservar la disponibilidad de los servicios que prestamos, el MEC supervisará el uso de la red de interconexión, de manera a detectar aquellas situaciones donde se intente modificar el contenido de las páginas o se trate de dañar la propiedad utilizada para estos propósitos. Así también el MEC se reserva el derecho de utilizar cookies para facilitar la navegación.</p>

<p>Además, el MEC podrá generar estadísticas y recopilar información relevante a las "visitas" a nuestras páginas en cuanto a:</p>

<ul>
  <li>El dominio de la Internet y número de IP de su conexión o acceso; </li>
  <li>El tipo de navegador y el sistema operativo (Tipo, Versión e idioma, etc.) que se utilizó para ver las páginas; </li>
  <li>La fecha y hora de la visita;</li>
  <li>Las páginas que se visitaron; y </li>
  <li>La página externa que originó la visita</li>
  <li>Ubicación Geografica de los usuarios,</li>
  <li>Resolucion de la Pantalla, Versión de Flash</li>
  <li>Tipo de dispositivo</li>
</ul>

<p>Cuando la información se relacione con una confidencia o querella, la misma se considerará y se mantendrá en confidencialidad.</p>

<h2>Obligatoriedad de las condiciones generales.</h2>
<p>Las presentes condiciones generales, disponibles con carácter permanente bajo /avisolegal, vincularán a cualquier usuario reutilizador por el mero hecho de hacer uso de los documentos sometidos a ellas.</p>
