<div class="container">
    <div class="row">
        <h2>
            Registro de T&iacute;tulos
            <span style="float:right;">
                <%= link_to "Ver datos", mec_custom_url(data_registros_titulos_url) , :title => "Ir al dataset", :style => "font-size:12px;" %>
                <%= link_to image_tag("datos_ico.jpg",:style => "width:24px;"), mec_custom_url(data_registros_titulos_url), :title => "Ir al dataset" %>
                <%= link_to "Inicio", mec_custom_url(index_url), :title => "Ir al inicio", :style => "font-size:12px;" %>
                <%= link_to image_tag("home.png", :style => "width:24px;"), mec_custom_url(index_url), :title => "Ir al inicio" %>
            </span>
        </h2>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th title="Field #1">
                        Nombre del Atributo
                    </th>
                    <th title="Field #2">
                        Descripción
                    </th>
                    <th title="Field #3">
                        Tipo de datos
                    </th>
                    <th title="Field #4">
                        Restricciones
                    </th>
                    <th title="Field #5">
                        Referencia
                    </th>
                    <th title="Field #6">
                        Ejemplo
                    </th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>
                        AÑO
                    </td>
                    <td>
                        Se refiere al año de registro del t&iacute;tulo
                    </td>
                    <td>
                        xsd:gYear
                    </td>
                    <td>
                        Sólo permite la carga de datos del año de registro del t&iacute;tulo.
                    </td>
                    <td></td>
                    <td>
                        2012
                    </td>
                </tr>

                <tr>
                    <td>
                        MES
                    </td>
                    <td>
                        Se refiere al mes de registro del t&iacute;tulo
                    </td>
                    <td>
                        xsd:positiveInteger
                    </td>
                    <td>
                        Sólo permite la carga de datos del mes del registro del título.
                    </td>
                    <td></td>
                    <td>
                        1
                    </td>
                </tr>

                <tr>
                    <td>
                        DOCUMENTO
                    </td>
                    <td>
                        Se refiere al número de documento de identidad de la persona.
                    </td>
                    <td>
                        xsd:string
                    </td>
                    <td>
                        No más de 10 caracteres
                    </td>
                    <td></td>
                    <td>
                        123456
                    </td>
                </tr>
                <tr>
                    <td>
                        NOMBRE_COMPLETO
                    </td>
                    <td>
                        Se refiere al o los nombres y al o los apellidos de la persona cuyo título fue registrado.
                    </td>
                    <td>
                        xsd:string
                    </td>
                    <td>
                        No más de 100 caracteres
                    </td>
                    <td></td>
                    <td>
                        Esteban Benítez
                    </td>
                </tr>
                <tr>
                    <td>
                        CARRERA_ID
                    </td>
                    <td>
                        Corresponde al código asignado a la carrera.
                    </td>
                    <td>
                        xsd:positiveInteger
                    </td>
                    <td>
                        Mayor a cero.
                    </td>
                    <td></td>
                    <td>
                        1
                    </td>
                </tr>
                <tr>
                    <td>
                        CARRERA
                    </td>
                    <td>
                        Oferta educativa implementada en la Institución conforme a normativas vigentes.
                    </td>
                    <td>
                        xsd:string
                    </td>
                    <td>
                        No más de 150 caracteres
                    </td>
                    <td></td>
                    <td>
                        Ciencias de la Educación
                    </td>
                </tr>
                <tr>
                    <td>
                        TITULO_ID
                    </td>
                    <td>
                        Corresponde al código asignado a la t&iacute;tulo.
                    </td>
                    <td>
                        xsd:positiveInteger
                    </td>
                    <td>
                        Mayor a cero
                    </td>
                    <td></td>
                    <td>
                        1
                    </td>
                </tr>
                <tr>
                    <td>
                        TITULO
                    </td>
                    <td>
                        Corresponde a la certificación documental expedida por una institución educativa del nivel superior que avala la formación de la persona en  una profesión o conocimientos académicos de una disciplina.
                    </td>
                    <td>
                        xsd:string
                    </td>
                    <td>
                        No más de 150 caracteres
                    </td>
                    <td></td>
                    <td>
                        LICENCIADO
                    </td>
                </tr>
                <tr>
                    <td>
                        NUMERO_RESOLUCION
                    </td>
                    <td>
                        Número del acto administrativo por el cual se autoriza el Registro del Título
                    </td>
                    <td>
                        xsd:string
                    </td>
                    <td>
                        No mas de 5 caracteres.
                    </td>
                    <td></td>
                    <td>
                        12345
                    </td>
                </tr>
                <tr>
                    <td>
                        FECHA_RESOLUCION
                    </td>
                    <td>
                        Fecha de  la Resolución del Registro del Título
                    </td>
                    <td>
                        xsd:date
                    </td>
                    <td>
                    </td>
                    <td></td>
                    <td>
                        2014-08-01
                    </td>
                </tr>
                <tr>
                    <td>
                        TIPO_INSTITUCION_ID
                    </td>
                    <td>
                        Corresponde al código asignado al tipo de institución.
                    </td>
                    <td>
                        xsd:positiveInteger
                    </td>
                    <td>
                        Mayor a cero
                    </td>
                    <td></td>
                    <td>
                        1
                    </td>

                </tr>

                <tr>
                    <td>
                        TIPO_INSTITUCION
                    </td>
                    <td>
                        Se refiere al tipo de institución.
                    </td>
                    <td>
                        xsd:string
                    </td>
                    <td>
                        No más de 150 caracteres
                    </td>
                    <td></td>
                    <td>
                        UNIVERSIDAD, INSTITUCION SUPERIOR
                    </td>
                </tr>

                </tr>
                <tr>
                    <td>
                        INSTITUCION_ID
                    </td>
                    <td>
                        Identifica a la institución como una entidad y organización independiente que funciona dentro de un establecimiento escolar. Una institución educativa puede poseer diferentes locales escolares ubicados en un mismo o en diferentes departamentos geográficos. El código está compuesto por un número secuencial.
                    </td>
                    <td>
                        xsd:positiveInteger
                    </td>
                    <td>
                        Mayor a cero
                    </td>
                    <td></td>
                    <td>
                        1247
                    </td>

                </tr>

                <tr>
                    <td>
                        INSTITUCION
                    </td>
                    <td>
                        Corresponde a la descripción del nombre de la institución correspondiente al código.
                    </td>
                    <td>
                        xsd:string
                    </td>
                    <td>
                        No más de 150 caracteres
                    </td>
                    <td></td>
                    <td>
                        1000031  UNIVERSIDAD METROPOLITANA
                    </td>
                </tr>

                <tr>
                    <td>
                        GOBIERNO ACTUAL
                    </td>
                    <td>
                        Indica si los Títulos fueron registro bajo el Gobierno actual.
                    </td>
                    <td>
                        xsd:string
                    </td>
                    <td>
                        No más de 2 caracteres
                    </td>
                    <td></td>
                    <td>
                        SI o NO
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="row">
        <h2>
            Referencia
        </h2>La siguiente tabla presenta una breve descripción de los atributos incluídos en el diccionario de datos del dataset.<br>
        Básicamente, un diccionario de datos describe los atributos que contiene un dataset, incluyendo el tipo de dato y las restricciones que se apliquen a cada uno.<br>
        <br>
        <br>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th title="Field #1">
                        Nombre de la columna
                    </th>
                    <th title="Field #2">
                        Descripción
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Nombre del Atributo
                    </td>
                    <td>
                        Establece el nombre del atributo exactamente como se encuentra definido en el archivo de datos a ser publicado
                    </td>
                </tr>
                <tr>
                    <td>
                        Descripción
                    </td>
                    <td>
                        Describe con más detalles los datos que se encuentran en el atributo
                    </td>
                </tr>
                <tr>
                    <td>
                        Tipo de datos
                    </td>
                    <td>
                        El tipo de dato esperado de los valores del attributo. Por ejemplo: String, Integer, Float, …. Idealmente se deben utilizar los tipos de datos definidos en el Estándar XML Schema Datatypes de la W3C. <a href="http://www.w3.org/TR/xmlschema-2/#built-in-primitive-datatypes">http://www.w3.org/TR/xmlschema-2/#built-in-primitive-datatypes</a>, por ejemplo: xsd:string, xsd:boolean, xsd:dateTime
                    </td>
                </tr>
                <tr>
                    <td>
                        Restricciones
                    </td>
                    <td>
                        En caso que existan, se especifican las restricciones de los datos
                    </td>
                </tr>
                <tr>
                    <td>
                        Referencia
                    </td>
                    <td>
                        En caso que exista, se agrega un link a un documento de referencia para los datos. Por ejemplo, si los datos están definidos utilizando un estándar o formato diferente a XSD, referenciarlo, como ser la Latitud y Longitud en formato de Google maps
                    </td>
                </tr>
                <tr>
                    <td>
                        Ejemplo
                    </td>
                    <td>
                        Los valores de ejemplo
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
