body {
    background-color: #EFEFEF;
    color: #484848;
    font-family: Verdana,sans-serif;
    font-size: 12px;
    margin: 0;
    min-width: 900px;
    padding: 0;
}


#tablaContenedor {
    margin-bottom: -10px;
}


#toolbar a:link, #toolbar a:visited {
    color: #000000;
    text-decoration: none;
}

.borderleft {
    background-image: url("left.png");
    background-repeat: repeat-y;
}


.borderright {
    background-image: url("right.png");
    background-repeat: repeat-y;
}

#topleft {
    background-position: 0 0;
}
.spriteBordesTabla {
    background-image: url("spriteBorders.png");
    background-repeat: no-repeat;
}
table td {
    vertical-align: top;
}

.bordertop {
    background-image: url("top.png");
    background-repeat: repeat-x;
}


#topright {
    background-position: -40px 0;
}


#toolbar {
    background-color: #CDCDCD;
    font-size: 11px;
    height: 30px;
    padding: 8px;
}

.icon {
    background-position: 0% 40%;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top: 2px;
    padding-bottom: 3px;
}

.icon-page { background-image: url(page.png); }
.icon-page_excel { background-image: url(page_excel.png); }
.icon-page_white_text_width { background-image: url(page_white_text_width.png); }
.icon-page_white_acrobat { background-image: url(page_white_acrobat.png); }
.icon-folder_table { background-image: url(folder_table.png); }
.icon-compress { background-image: url(compress.png); }

/* ESTILO PARA TABLA PRINCIPAL */

table.lista-uno{
  width:100%;
  margin-top: 15px;
  border-collapse: collapse;
  background-color: #dcdfe3;
}

table.lista-uno tr.titles td{

  border: 1px solid #C3D1E3;
  background-color: #1A539A;
  color: #FFFFFF;
  font-size: 12px;
  padding: 6px;
  text-align:left;

}

table.lista-uno tr.datos td{
    
  border: 1px solid #C3D1E3;
  color: #000000;
  font-size: 10px;
  padding: 6px;
  background-color: #fff;
  text-align:left;

}

table.lista-uno tr.datos-anulados td{
    
  border: 1px solid #C3D1E3;
  color: #000000;
  font-size: 10px;
  padding: 6px;
  background-color: #ffdada;
  text-align:left;

}

table.lista-uno tr td.title-cabecera{
    
  background-color: #1A539A;
  color: #FFFFFF;
  font-size: 15px;
  padding: 6px;
  border: 1px solid #C3D1E3;

}

table.lista-uno tr td.valor-cabecera{

  background-color: #C3D1E3;
  color: #1A539A;
  font-size: 15px;
  border: 1px solid #fff;
  text-align:left;

}

table.lista-uno tr td.dato-numero{
  text-align: right;
  font-weight:bold;
}

table.lista-uno tr td.title-numero{
  text-align: right;
  font-weight:bold;
  width: 100px;
}

/* FIN ESTILO PARA TABLA PRINCIPAL */

/* ESTILO PARA TABLA SECUNDARIA */

table.lista-dos{
  width:95%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  border-collapse: collapse;
  background-color: #e9e9cb;
}

table.lista-dos tr.titles td{

  border: 1px solid #C3D1E3;
  background-color: #1A539A;
  color: #FFFFFF;
  font-size: 10px;
  padding: 6px;
  text-align:left;

}

table.lista-dos tr.datos td{
    
  border: 1px solid #C3D1E3;
  color: #000000;
  font-size: 10px;
  padding: 6px;
  background-color: #fff;
  text-align:left;

}

table.lista-dos tr td.dato-numero{
  text-align: right;
  font-weight:bold;
}

table.lista-dos tr td.title-numero{
  text-align: right;
  font-weight:bold;
  width: 100px;
}

/* FIN ESTILO PARA TABLA SECUNDARIA */

