<div class="container">
	<div class="row">
		<h2>
			Matriculaciones por Educación Inclusiva
			<span style="float:right;">
            <%= link_to "Ver datos", data_matriculaciones_educacion_inclusiva_url , :title => "Ir al dataset", :style => "font-size:12px;" %>
            <%= link_to image_tag("datos_ico.jpg",:style => "width:24px;"), mec_custom_url(data_matriculaciones_departamentos_distritos_url), :title => "Ir al dataset" %>
            <%= link_to "Inicio", mec_custom_url(index_url), :title => "Ir al inicio", :style => "font-size:12px;" %>
            <%= link_to image_tag("home.png", :style => "width:24px;"), mec_custom_url(index_url), :title => "Ir al inicio" %>
          </span>
		</h2>
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th title="Field #1">
						Nombre del Atributo
					</th>
					<th title="Field #2">
						Descripción
					</th>
					<th title="Field #3">
						Tipo de datos
					</th>
					<th title="Field #4">
						Restricciones
					</th>
					<th title="Field #5">
						Referencia
					</th>
					<th title="Field #6">
						Ejemplo
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						AÑO
					</td>
					<td>
						Se refiere al año de captura de los datos
					</td>
					<td>
						xsd:gYear
					</td>
					<td>
						Sólo permite la carga de datos del año de su captura.
					</td>
					<td></td>
					<td>
						2012
					</td>
				</tr>
				<tr>
					<td>
						CODIGO_DEPARTAMENTO
					</td>
					<td>
						Corresponde al código asignado según la cartografía nacional al departamento geográfico donde esta localizado el establecimiento escolar.
					</td>
					<td>
						xsd:string
					</td>
					<td>
						No más de 2 caracteres
					</td>
					<td></td>
					<td>
						00
					</td>
				</tr>
				<tr>
					<td>
						NOMBRE_DEPARTAMENTO
					</td>
					<td>
						Corresponde a la descripción del nombre del departamento geográfico correspondiente al código.
					</td>
					<td>
						xsd:string
					</td>
					<td>
						No más de 40 caracteres
					</td>
					<td></td>
					<td>
						ASUNCION
					</td>
				</tr>
				<tr>
					<td>
						CODIGO_DISTRITO
					</td>
					<td>
						Corresponde al código asignado al distrito del departamento geográfico donde esta localizado el establecimiento escolar..
					</td>
					<td>
						xsd:string
					</td>
					<td>
						No más de 2 caracteres
					</td>
					<td></td>
					<td>
						00
					</td>
				</tr>
				<tr>
					<td>
						NOMBRE_DISTRITO
					</td>
					<td>
						Corresponde a la descripción del nombre del distrito correspondiente al código.
					</td>
					<td>
						xsd:string
					</td>
					<td>
						No más de 40 caracteres
					</td>
					<td></td>
					<td>
						ASUNCION
					</td>
				</tr>
				<tr>
					<td>
						CODIGO_ZONA
					</td>
					<td>
						Corresponde a la ubicación del establecimiento escolar, sea en la zona urbana o rural. Se considera: Código 1 .Zona Urbana: Área geográfica que abarca todas las cabeceras distritales de la República y sus viviendas generalmente estan organizadas en manzanas.<br>
						Código 2. Zona Rural: Área geográfica que se encuentran fuera de las cabeceras distritales y las viviendas se localizan en forma dispersa pudiendo existir zonas amanzanadas pero que no tienen la categoría de Cabeceras Distritales por la cual se consideraran como rurales.<br>
					</td>
					<td>
						xsd:positiveInteger
					</td>
					<td>
						Valores que pueden ser: Código 1: cuando el código de localidad es menor 100 Código 6: cuando el código de localidade es mayor o igual a 100
					</td>
					<td></td>
					<td>
						1
					</td>
				</tr>
				<tr>
					<td>
						NOMBRE_ZONA
					</td>
					<td>
						Corresponde a la descripción del nombre de la zona correspondiente al código
					</td>
					<td>
						xsd:string
					</td>
					<td></td>
					<td></td>
					<td>
						URBANA
					</td>
				</tr>
				<tr>
					<td>
						SECTOR O TIPO DE GESTION
					</td>
					<td>
						Sector al que pertenece una institución educativa.<br>
						Se considera :<br>
						OFICIAL: Sector o tipo de gestión al que pertenece una institución educativa cuya organización y administración está a cargo del Estado paraguayo (Ministerio de Educación y Cultura, gobernaciones, municipios, binacionales). PRIVADA: Sector o tipo de gestión al que pertenece una institución educativa cuya organización y administración está a cargo de un organismo no estatal.<br>
						PRIVADA SUBVENCIONADA: Sector o tipo de gestión al que pertenece una institución de gestión privada que recibe algún aporte del Estado, como ser rubros para docentes, monto en guaraníes, etc.<br>
					</td>
					<td>
						xsd:string
					</td>
					<td>
						Valores en el rango: OFICIAL, PRIVADA ,PRIVADA SUBVENCIONADA
					</td>
					<td></td>
					<td>
						PRIVADA
					</td>
				</tr>
				<tr>
					<td>
						CANTIDAD_MATRICULADOS
					</td>
					<td>
						Representa la cantidad total de matriculados en los departamentos por distrito
					</td>
					<td>
						xsd:positiveInteger
					</td>
					<td></td>
					<td></td>
					<td>
						93354
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="row">
		<h2>
			Referencia
		</h2>La siguiente tabla presenta una breve descripción de los atributos incluídos en el diccionario de datos del dataset.<br>
		Básicamente, un diccionario de datos describe los atributos que contiene un dataset, incluyendo el tipo de dato y las restricciones se apliquen a cada uno.<br>
		<br>
		<br>
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th title="Field #1">
						Nombre de la columna
					</th>
					<th title="Field #2">
						Descripción
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						Nombre del Atributo
					</td>
					<td>
						Esteblace el nombre del atributo exactamente como se encuentra definido en el archivo de datos a ser publicado
					</td>
				</tr>
				<tr>
					<td>
						Descripción
					</td>
					<td>
						Describe con más detalles los datos que se encuentran en el atributo
					</td>
				</tr>
				<tr>
					<td>
						Tipo de datos
					</td>
					<td>
						El tipo de dato esperado de los valores del attributo. Por ejemplo: String, Integer, Float, …. Idealmente se deben utilizar los tipos de datos definidos en el Estándar XML Schema Datatypes de la W3C. <a href="http://www.w3.org/TR/xmlschema-2/#built-in-primitive-datatypes">http://www.w3.org/TR/xmlschema-2/#built-in-primitive-datatypes</a>, por ejemplo: xsd:string, xsd:boolean, xsd:dateTime
					</td>
				</tr>
				<tr>
					<td>
						Restricciones
					</td>
					<td>
						En caso que existan, se especifican las restricciones de los datos
					</td>
				</tr>
				<tr>
					<td>
						Referencia
					</td>
					<td>
						En caso que exista, se agrega un link a un documento de referencia para los datos. Por ejemplo, si los datos están definidos utilizando un estándar o formato diferente a XSD, referenciarlo, como ser la Latitud y Longitud en formato de Google maps
					</td>
				</tr>
				<tr>
					<td>
						Ejemplo
					</td>
					<td>
						Los valores de ejemplo
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
