<header class="container-fluid">

  <div class="cabecera row hidden-xs">

    <div class="col-sm-3 col-xs-8 principal" onclick="Javascript:window.open('http://mec.gov.py','_self');">
      <div class="logo mec-letras-blancas"></div>
    </div>

    <div class="col-sm-offset-1 col-sm-4 logo datos-abiertos">
    </div>

    <div class="col-sm-offset-1 col-sm-3 logo gobierno">
    </div>

  </div>

  <%= render :partial => "layouts/menu" %>

</header>